html
    head
        title= `파싱 결과 - ${title}`
    body
        h1 요청 내용
        p= `문서명 : ${title}`
        h1 파싱 결과
        pre= parseResult
        if renderResult
            h1 렌더링 결과
            style!= "table,tr,td {border: 1px solid black;} sup.footnote-sup {color: red;}"
            article!= renderResult