html
    head
        link(rel="stylesheet", href="/wiki.css")
        title= `파서 테스트용 위키 앱 - ${title}`
    body
        h1 요청 내용
        p= `문서명 : ${title}`
        hr
        if parseResult
            h1 파싱 결과
            pre= parseResult
        if renderResult
            h1 렌더링 결과
            article!= renderResult
        if categories && categories.length > 0
            h1 분류
            ul
                for category in categories
                    li=category